################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/Репозиторий.slnx/v18/.suo
/.vs/Репозиторий.slnx/v18/Browse.VC.db
/.vs/Репозиторий.slnx/v18/Browse.VC.db-shm
/.vs/Репозиторий.slnx/v18/Browse.VC.db-wal
/Репозиторий.vcxproj.filters
